# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# Virtual Environments
energy-env/
manufacturing-env/
banking-env/
venv/
env/
ENV/
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# MLflow
mlruns/
mlartifacts/
artifacts/